<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mastodon Social Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.mastodon.tests.LoginTest" />
        </classes>
    </test>
    <test name="Home Page Tests">
        <classes>
            <class name="com.mastodon.tests.HomePageTest" />
        </classes>
    </test>
    <test name="Explore Page Tests">
        <classes>
            <class name="com.mastodon.tests.ExplorePageTest" />
        </classes>
    </test>
    <test name="Settings Page Tests">
        <classes>
            <class name="com.mastodon.tests.SettingsPageTest" />
        </classes>
    </test>
    <test name="Notifications Page Tests">
        <classes>
            <class name="com.mastodon.tests.NotificationsPageTest" />
        </classes>
    </test>
    <test name="Messages Page Tests">
        <classes>
            <class name="com.mastodon.tests.MessagesPageTest" />
        </classes>
    </test>
    <test name="Exception Handling Tests">
        <classes>
            <class name="com.mastodon.tests.ExceptionHandlingDemoTest" />
            <class name="com.mastodon.tests.PageObjectExceptionHandlingTest" />
        </classes>
    </test>
    <!-- Synchronization Test Classes -->
    <test name="Synchronization Tests">
        <classes>
            <class name="com.mastodon.tests.WebDriverAndElementMethodsTest" />
            <class name="com.mastodon.tests.ExplorePageSynchronizationTest" />
            <class name="com.mastodon.tests.LoginSynchronizationTest" />
            <class name="com.mastodon.tests.NotificationsSynchronizationTest" />
            <class name="com.mastodon.tests.MessagesSynchronizationTest" />
            <class name="com.mastodon.tests.HomeSynchronizationTest" />
        </classes>
    </test>
</suite>